package views

templ HomePage(title string) {
	@BaseLayout(title, HomeContent())
}

templ HomeContent() {
	<div>
		<h2>Welcome to the Music Request App!</h2>
		<p>Start requesting your favorite songs now!</p>
	</div>
}
