package views

templ HomePage(title string) {
	@BaseLayout(title, HomeContent())
}

templ HomeContent() {
	<div>
		<div id="music-queue">
			<h2>Current Music Queue</h2>
			<div id="queue-list" hx-ext="ws" ws-connect="/ws/queue" hx-swap-oob="innerHTML"></div>
		</div>
	</div>
}
