package views

templ QueuePage(title string, userName string) {
	@BaseLayout(title, QueueContent(userName))
}

templ QueueContent(userName string) {
	<div>
		<div id="music-queue">
			<h2>Current Music Queue</h2>
			<div id="queue-list" hx-ext="ws" ws-connect={ "/ws/queue?performer=" + userName } hx-swap-oob="innerHTML"></div>
		</div>
	</div>
}
